{{ define "main" }}
<h1>{{ .Title }} ☠️</h1>

<p>{{ .Content }}</p>

{{ if .Pages }}
<ul class="post-list">
    {{ range .Pages.ByDate.Reverse }}
    <li>
        <div class="post-meta">{{ partial "date-format.html" .Date }}</div>
        <h3 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h3>
        {{ if .Summary }}
        <p>{{ .Summary }}</p>
        {{ end }}
    </li>
    {{ end }}
</ul>
{{ else }}
<p><em>Aucun billet technique dans les ténèbres... pour le moment.</em></p>
{{ end }}

{{ end }}